# SPDX-License-Identifier: MIT-0
---
# tasks file for caddy
- name: Create caddy directory
  ansible.builtin.file:
    path: "{{ caddy_dir }}"
    state: directory
    mode: '0770'

- name: Copy docker-compose file
  ansible.builtin.copy:
    src: docker-compose.yml
    dest: "{{ caddy_dir }}/docker-compose.yml"
    mode: '0770'

- name: Copy .env file
  ansible.builtin.template:
    src: .env.j2
    dest: "{{ caddy_dir }}/.env"
    force: true
    mode: '0770'

- name: Start with docker-compose
  community.docker.docker_compose_v2:
    project_src: "{{ caddy_dir }}"
    state: present
