(cloudflare) {
	tls {
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	}
}

authentik.lab42.me {
	import cloudflare
	encode zstd gzip
	reverse_proxy 10.42.20.195:9000
}

immich.lab42.me {
	import cloudflare
	encode zstd gzip
	reverse_proxy 10.42.20.244:2283
}

mealie.lab42.me {
	import cloudflare
	encode zstd gzip
	reverse_proxy 10.42.20.203:9925
}

nextcloud.lab42.me {
	import cloudflare
	encode zstd gzip
	redir /.well-known/carddav /remote.php/dav/ 301
    redir /.well-known/caldav /remote.php/dav/ 301

	reverse_proxy 10.42.20.220:11000
}

paperless.lab42.me {
	import cloudflare
	encode zstd gzip
	reverse_proxy 10.42.20.211:8000
}
