OIDC_AUTH_ENABLED: {{ mealie_oidc_auth_enabled }}
OIDC_PROVIDER_NAME: {{ mealie_oidc_provider_name }}
OIDC_CONFIGURATION_URL: {{ mealie_oidc_configuration_url }}
OIDC_CLIENT_ID: {{ mealie_oidc_client_id }}
OIDC_CLIENT_SECRET: {{ mealie_oidc_client_secret }}
OIDC_SIGNUP_ENABLED: {{ mealie_oidc_signup_enabled }}
OIDC_USER_GROUP: {{ mealie_oidc_user_group }}
OIDC_ADMIN_GROUP: {{ mealie_oidc_admin_group }}
OIDC_AUTO_REDIRECT: {{ mealie_oidc_auto_redirect }}   
OIDC_REMEMBER_ME: {{ mealie_oidc_remember_me }}

# Set Backend ENV Variables Here
ALLOW_SIGNUP: {{ mealie_allow_signup }}
PUID: {{ mealie_puid }}
PGID: {{ mealie_pgid }}
TZ: {{ mealie_tz }}
BASE_URL: {{ mealie_base_url }}

# Database Settings
DB_ENGINE: {{ mealie_db_engine }}
POSTGRES_USER: {{ mealie_postgres_user }}
POSTGRES_PASSWORD: {{ mealie_postgres_password }}
POSTGRES_SERVER: {{ mealie_postgres_server }}
POSTGRES_PORT: {{ mealie_postgres_port }}
POSTGRES_DB: {{ mealie_postgres_db }}
